
/* ---- Règles de base ---- */ 
html {
	color: #444444;
	font-family: "Segoe UI", Arial, Verdana, sans-serif;
	font-size: 1em;
	background-image: url("../img/cigale-fourmi.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	--couleur-theme: #039;
	--padding-std: .5em 1em;
	--ombre-std: 0 2px 2px #999;
	--ombre-hover: 0 4px 4px #bbb;

	counter-reset: figure;
}
main { display: block; } /* bug IE 11 */
h1 {
	color: #990000;
	font-size: 2.5em;
	font-family: "Segoe UI Light", "Segoe UI", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0 0 .5em;
}
h2 {
	font-family: "Segoe UI Light", "Segoe UI", sans-serif;
	font-size: 2em;
	font-weight: 100;
	font-variant: small-caps;
	margin: 0;
}
a {
	color:  inherit;
}
nav a {
    text-decoration: none;
}

a[href$=".pdf"]{
	background-image: url("../img/pdf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	padding-right: 1.75em;
}
a[href$=".docx"]{
	background-image: url("../img/word.svg");
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 1.75em;
}

table, th, td {
/*	border: 1px solid #444444; */
}

img, video, audio, figure, canvas, svg, .scroll-hor {
	max-width: 100%;
}
.scroll-hor {
	overflow: hidden;
}

input, button, select, textarea {
	font-size: 1em;
	font-family: inherit;
	box-sizing: border-box;
}
textarea {
	resize: vertical;
}
* {
	transition: all .2s;
}
/* --- Accessibilité --- */
.sr-only {
	display: none;
}
i[aria-hidden] { /* symboles icones */
	font-style: normal;
}



/* ---- positionnement ----- */
/*
#entete, #entete nav, #colGauche, #contenu, #pied, body {
	outline: 1px dashed navy;
}
*/
body {
	margin: 0;
	/* padding-bottom: 60px; */
	/* max-width:1000px; */
	background-color: #fff;
	background-color: #fffa;

	display: grid;
	grid-template-columns: 12em auto;
	grid-template-rows: auto auto 1fr 3em;

	overflow-x: hidden;
}

#entete {
	grid-column: 1 / -1;
	grid-row: 1;

	position: relative;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

}
/* #entete.reduit { */
	/* height: 32px; */
/* } */
body > nav.menu {
	grid-column: 1;
	grid-row: 2;
}
body > aside {
	grid-column: 1;
	grid-row: 3 / -1;
}
main {
	grid-column: 2;
	grid-row: 2 / 4;
}
#pied {
	grid-column: 2 / -1;
	grid-row-end: -1;
}

/* vue adaptative - présentation sur une colonne */

@media screen and (max-width: 810px){

	body {	
		grid-template-columns: auto;
		grid-template-rows: unset;
		grid-auto-rows: auto;
	}
	body > aside {
		grid-column: 1;
		grid-row: 4 / 5;
	}
	main {
		grid-column: 1;
		grid-row: 3;
	}
	#pied {
		grid-column: 1;
		grid-row: 5 / 6;
	}

}

/* ----- entete  ----- */
header {
	background-color: #cccccc;
	background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	transition: height .7s;
}

header.bandeau2 h2 {
	transform: rotate(45deg);

	margin: 0;
	padding: 0;

	margin-left: auto;
	margin-right: -32px;
	
	font-size: 12px;
	line-height: 24px;
	width: 160px;

	text-transform: uppercase;
	order: 10;

	background-color: var(--couleur-theme);
	color: white;

	text-align: center;
	letter-spacing: 3px;

	box-shadow: 0 1px 2px #999;
}
header button {
	margin: 4px;
	border: none;
	background: none;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--couleur-theme);
	color: #fff;
	box-shadow: var(--ombre-std);
	cursor: pointer;
}
header img {
	height: 48px;
	margin: 24px
}
header h1 {
	margin: 0;
}

/* h2{
	width: fit-content;
	margin: auto;
} */

header h1.js {
	color: #0033cc;
	text-shadow: 0 0 8px #fff;
}
header.bandeau h1 {
	margin: 40px 0 0 60px;	
}
header h2 {
	font-size: 1.5em;
	margin-left: 40px;
}
header.bandeau h2 {
	background-color: rgba(0,0,0,.7);
	color: #ffffff;
	font-size: 1em;
	line-height: 40px;
	width: 162px;
	text-align: center;
	transform-origin: bottom left;
	transform: translate(-40px, -20px) rotate(-45deg);
}

header nav {
	margin-left: auto;
	--border-radius: 8px 8px 0 0;
	--border: 1px solid navy;
	--overflow: hidden;
}

header nav a {
	color: var(--couleur-theme);
	border: 1px solid var(--couleur-theme);
	display: inline-block;
	padding: var(--padding-std);
	border-radius: 100px;
}

header nav a:hover, header nav a:focus {
	background-color: var(--couleur-theme);
	color: white;
	outline: none;
}


header button {
	transform: rotate(0deg);
	transition: transform .3s .7s;
}
header.reduit button {
	transform: rotate(-180deg);
}
header > :not(button) {
	opacity: 1;
	transition: opacity .3s .4s;
}
header.reduit > :not(button) {
	opacity: 0;
	transition: opacity .3s;
}





/* ----- fable (class="fable") ----- */

.fable {
	background-color: #990000;
	color: white;
	font-family: "Sacramento", cursive;
	font-size: 1.8em;
	line-height: 1.6em;
	font-style: italic;
	text-align: justify;
	padding: 1em 1.5em;
	border-radius: 1em;
}
.fable:not(.animation)::first-letter {
    font-size: 4em;
    line-height: 1em;
	margin-right: .1em;
	margin-bottom: -1.5rem;
    float: left;
}
.fable:not(.animation)::first-line {
    font-weight: bold;
}
.fable::-moz-selection, .fable ::-moz-selection {
	color: black;
	background-color: #FFFF66;
 }
 .fable::selection, .fable ::selection {
	color: black;
	background-color: #FFFF66;
 }
 .fable.animation {
	height: 1em;
	width: 4.6em;
	line-height: 1.8;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: height .4s, width .6s .3s; /* fermeture */
}
.fable.animation:hover {
	height: 12.5em;
	width: 37em;
	white-space: normal;
	transition: height .4s .5s, width .6s; /* ouverture */
	text-align: justify;
	overflow: hidden;
}

/* ----- mentions légales (class="#mentions") ----- */

#mentions {
	column-width: 12em;
}

#mentions h2 {
	column-span: all;
}
#mentions h3 {
	break-before: avoid;
}

#mentions > :not(:first-child) {
	font-size: .5em;
}


/* ----- figure ----- */
img {
	
}

figcaption {
	font-style: italic;
}
figcaption::before {
	counter-increment: figure;
	content: "Figure " counter(figure) " - ";
}



/* ----- menu (class="menu") ----- */

.menu {
	background-color: #990000;
	color: #ffffff;
    font-size: 0.8em;
}

.menu a { 
	display: block;
	padding: .5em 1em;
	background-color: #990000;
	transition: background-color .3s;
	outline: none;	
}
.menu a:hover, .menu a:focus {
	color: #990000;
	background-color: #eeeeee;
}

.menu h3 {
	line-height: 28px;
	font-size: 1em;
	padding: 0;
	margin: 0;
}
.menu .icone-menu {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 12px;
	background-image: url(../img/css-sprite.png);
	background-position: right -36px bottom -4px ;
	--outline: 1px solid white;
	vertical-align: -.5em;
}


/* ----- Video ----- */

.video-player {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	/* --couleur-theme: red; */
}
.video-player video {
	flex: 1 1 100%;
	/* flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%; */
	margin: 0 16px 8px
}
.video-player button {
	flex-grow: 0;
	border: none;
	background: none;
	
	line-height: .8;
	padding: 12px;
	margin: 4px;
	border-radius: 50%;

	color: #fff;
	background-color: var(--couleur-theme);
	box-shadow: var(--ombre-std);
	
	transition: transform .2s;
}

.video-player button:hover,
.video-player button:focus {
	box-shadow: var(--ombre-hover);
	transform: scale(1.05);
}
.video-player button:active {
	box-shadow: none;
	transform: scale(0.95);
}
.video-player button.inactive {
	background-color: #999;
}
.video-player button .material-icons {
	font-size: 32px;
}

/* video + .controls {

}
video + .controls button {
	font-family: "Segoe MDL2 Assets", "Segoe UI Symbol", "Segoe UI", sans-serif;
	background-image: none;
	border: none 0 transparent;
	background-color: #990000;
	color: white;

	padding: 0;
	margin: 0;

	text-transform: uppercase;

	line-height: 3em;
	width: 3em;
	border-radius: 50%;

	cursor: pointer;
	box-shadow: 0 2px 8px #444;
}
video + .controls button:active {
	transform: scale(0.9);
	box-shadow: none;

} */

/* ----- tableau (class="mon-tableau") ----- */

.mon-tableau {
	border-collapse: collapse;
	margin: auto;
}

.mon-tableau th, 
.mon-tableau td {
	padding: var(--padding-std);
	-hite-space: nowrap;
}

.mon-tableau thead {
	background-color:var(--couleur-theme);
	background-image: linear-gradient(to top, #fff0, #fff3);
	color: #ffffff;
}
.mon-tableau thead th {
	position: sticky;
	top: 0;
	z-index: 10;
}

.mon-tableau tbody {
	cursor: pointer;
	border-bottom: 1px solid #999999;
}
.mon-tableau tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}
.mon-tableau tbody tr:nth-child(even) {
	background-color: #cccccc;
	
}
.mon-tableau tbody tr:hover {
	background-color: #666666;
	color: white;
}
.mon-tableau tbody td {
	border: 1px #999999;
	border-style: none solid;
}
.mon-tableau tfoot {
	font-size: .8em;
	font-style: italic;
}

/* Spécifique au tableau population */
#table-population.mon-tableau tbody td:nth-child(1) {
	text-align: center;
}
#table-population.mon-tableau tbody td:last-child {
	text-align: right;
	background-color: rgba(255,128,0,.3);
}
			

/* ----- formulaire (class="mon-formulaire") ----- */

.mon-formulaire {
	background-color: rgba(255,255,255,.5);
	border: 1px solid #ffffff;
	padding: 1em;
	
}




.mon-formulaire input,
.mon-formulaire select,
.mon-formulaire textarea {
	border: 0px none;
	border-left: 4px solid #ccc;

	outline: none !important;
	box-shadow: none !important;
}
.mon-formulaire input:valid,
.mon-formulaire select:valid,
.mon-formulaire textarea:valid {
	border-left-color: #093;
}
.mon-formulaire input:invalid,
.mon-formulaire select:invalid,
.mon-formulaire textarea:invalid {
	border-left-color: #c00;
}

.mon-formulaire:invalid [type="submit"] {
	opacity: .5;
}


@keyframes envoi-form {
	
	from {
		transform: scale(1,1) translateY(0px);
	}
	30% {
		transform: scale(0.9,0.5) translateY(60%);
	}
	to {
		transform: scale(0,1) translateY(-2000px);
	}
}

.mon-formulaire.envoi {
	animation-name: envoi-form;
	animation-duration: 1s;
}

/* ----- formulaire (class="mon-formulaire grid") ----- */

.mon-formulaire.grid {
	display: grid;

	max-width: max-content;

	grid-template-columns: 10em 20em;
	grid-auto-rows: auto;

	grid-column-gap: 0;
	grid-row-gap: .6em;
}
.mon-formulaire.grid > label {
	text-align: right;
	padding: var(--padding-std);
}
.mon-formulaire.grid > input,
.mon-formulaire.grid > select,
.mon-formulaire.grid > textarea {
	width: 100%;
	padding: var(--padding-std);
	border: none;
	box-shadow: var(--ombre-std);
}
.mon-formulaire.grid > :invalid {
	border-right: 5px solid  #f10;
}
.mon-formulaire.grid > :valid {
	border-right: 5px solid  #090;
}

.mon-formulaire.grid > input[type="checkbox"] {
	width: 16px;
	margin-left: 0; 
}

.mon-formulaire.grid > fieldset {
	grid-column: 1 / -1;
}
.mon-formulaire.grid > footer {
	grid-column: 2 ;
}


/* ----- Animation CSS3 Cube ----- */
@keyframes cube-anim {
	from {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(0.1) scaleY(0.1) scaleZ(0.1) ;
	}
	50% {
		transform: rotateX(360deg) rotateY(1080deg) rotateZ(180deg) scaleX(2) scaleY(2) scaleZ(2) ;
	}
	to {
		transform: rotateX(720deg) rotateY(2160deg) rotateZ(360deg)  scaleX(0.1) scaleY(0.1) scaleZ(0.1);
	}
}

article#aAnimation {
	-webkit-perspective: 500px;
	perspective: 500px;
	width: 400px;
	max-width: 100%;
	
}

#cube3D {
	transform-style: preserve-3d;
/*	animation-name: cube-anim;*/
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
	position: relative;
	width:102px;
	height:102px;
	margin:100px;
}
#cube3D > div {
	background-color: rgba(255,255,255,0.4);
	width:100px;
	line-height:100px;
	font-size: 60px;
	text-align:center;
	border: 1px solid #336;
	position: absolute;
	backface-visibility: visible; /* hidden */
}
#cube3D > #face1 {
	transform: translateZ(50px);	
}
#cube3D > #face6 {
	transform: translateZ(-50px) rotateY(180deg);	
}
#cube3D > #face2 {
	transform: translateX(-50px) rotateY(-90deg);	
}
#cube3D > #face5 {
	transform: translateX(50px) rotateY(90deg);	
}
#cube3D > #face3 {
	transform: translateY(-50px) rotateX(90deg);	
}
#cube3D > #face4 {
	transform: translateY(50px) rotateX(-90deg);
}
#cube3D > div > img { /* image */
	width: 100%;
	height: 100%;
	vertical-align: top;
	opacity: .85;	
}


svg circle {
	fill: yellow;
	stroke-width: 1px;
	stroke-dasharray: 10px 5px 1px 5px;
	stroke: navy;
}

svg circle:hover {
	stroke-dasharray: 7px 0px;
}

.svg-icons {
	display: inline-block;
	font-style: normal; 
	font-family: "Roboto Condensed", sans-serif;
}




/* ----- pied (address) ----- */

footer address {
	padding: .5em 1em;
	text-align: center;
	font-style: normal;
}


/* ----- Présentation Adaptative ------ */



@media screen and (max-width: 492px) {

	
	.mon-tableau th, .mon-tableau td {
		padding: 2px .25em;
	}
	
	
}


h1.joliTitre {
	color: #00c;
	text-shadow: 0 0 8px white;
	font-weight: bold;
	text-decoration: overline;
	text-decoration-style: wavy;
}

